h3 {
  padding-left: 10px;
}
.time {
  font-size: 30px;
  padding-left: 30px;
}
#startButton {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: #DDDDDD;
  border: 1px solid;
  border-color: gray;
  border-radius: 3px;
  text-decoration: none;
}
#stopButton {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: #DDDDDD;
  border: 1px solid;
  border-color: gray;
  border-radius: 3px;
  text-decoration: none;
}
#resetButton {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: #DDDDDD;
  border: 1px solid;
  border-color: gray;
  border-radius: 3px;
  text-decoration: none;
}